[Unit]
Description=Mount NAS

[Mount]
What=192.168.1.3:/srv/nfs/nas
Where=/mnt/nas
#Options=x-systemd.automount
Type=nfs

[Install]
WantedBy=multi-user.target
