[Unit]
Description=Mount NAS

[Mount]
What=//192.168.1.3/media
Where=/mnt/nas
Options=x-systemd.automount,username=guest,defaults=noperm
Type=cifs

[Install]
WantedBy=multi-user.target
